NEXT_PUBLIC_IS_PRODUCTION=BOOLEAN
NEXT_PUBLIC_SAFE_VERSION=VERSION
NEXT_PUBLIC_WC_PROJECT_ID=ID

NEXT_PUBLIC_CONFIG_CHAIN_ID=ID
NEXT_PUBLIC_CONFIG_CHAIN_NAME=NAME
NEXT_PUBLIC_CONFIG_CHAIN_SHORT_NAME=NAME
NEXT_PUBLIC_CONFIG_CHAIN_RPC=URL
NEXT_PUBLIC_CONFIG_CURRENCY=CURRENCY
NEXT_PUBLIC_CONFIG_SYMBOL=SYMBOL
NEXT_PUBLIC_CONFIG_EXPR_ADDR=PARAM_URL
NEXT_PUBLIC_CONFIG_EXPR_TX=PARAM_URL
NEXT_PUBLIC_CONFIG_TESTNET=BOOLEAN